<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMapConfig 
  PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" 
  "http://ibatis.apache.org/dtd/sql-map-config-2.dtd">
<sqlMapConfig>
 <properties resource="server.properties"/>

 <settings cacheModelsEnabled="true" 
 enhancementEnabled="true" 
 lazyLoadingEnabled="true" 
 errorTracingEnabled="true"
 useStatementNamespaces="false"/>
 <transactionManager type="JDBC">
 <dataSource type="SIMPLE">
  <property name="JDBC.Driver" value="org.postgresql.Driver"/>
  <property name="JDBC.ConnectionURL" value="jdbc:postgresql://192.168.1.31:5433/mbsb_uat2"/>
  <property name="JDBC.Username" value="mbsb"/>
  <property name="JDBC.Password" value="ks1234"/>
  <property name="JDBC.DefaultAutoCommit" value="false"/>
  <property name="Pool.MaximumActiveConnections" value="50"/>
  <property name="Pool.MaximumIdleConnections" value="20"/>
  <property name="Pool.MaximumCheckoutTime" value="120000"/>
  <property name="Pool.TimeToWait" value="500"/>
  <property name="Pool.PingQuery" value="select 1"/>
  <property name="Pool.PingEnabled" value="false"/>
  <property name="Pool.PingConnectionsOlderThan" value="1"/>
  <property name="Pool.PingConnectionsNotUsedFor" value="1"/>
  <property name="Pool.QuietMode" value="true"/>
 </dataSource>
 </transactionManager>

 <sqlMap resource="mbsb/globalSqlIncludes.xml"/>

   <!-- PowerAgency Lite Services -->
 <sqlMap resource="mbsb/agencyWorklistTabServiceLite.xml"/>
 <sqlMap resource="mbsb/agencyWorklistManagementServiceLite.xml"/>
 <sqlMap resource="mbsb/agencyCustomerSearchServiceLite.xml"/>

 
</sqlMapConfig>